In [1]:
import pandas
import numpy as np
import random

In [2]:
al = pandas.read_csv('alumni/20182_DIG.csv',header=2,names=['index','mat','nome'])

In [3]:
numero_alunos = al.nome.size
numero_alunos

41

In [4]:
# alunos que fizeram truncamento
t1, = (np.where(al.nome[:] == 'IAN BARUC COSTA E SILVA'))[0]
t2, = (np.where(al.nome[:] == 'LUIZ HENRIQUE SILVA MIRANDA'))
t2 = t2[0]
t1, t2

(15, 25)

In [27]:
a = np.arange(0,41)
a = np.delete(a,[t1,t2])
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40])

In [28]:
n = a.size
dupla = []
while (n > 2):
    pair = random.sample(set(a),2)
    #print(pair)
    print(al.nome[pair[0]], '   ', al.nome[pair[1]])
    dupla.append(pair)
    a = np.delete(a,pair)
    print(a.size)
    n -= 2
dupla = np.array(dupla)

PAULO VITOR DE OLIVEIRA     ALINE ANDRADE DO NASCIMENTO
37
BEATRIZ DE SOUZA PANCRACIO DE ERRICO     FERNANDO AUGUSTO DE ALCANTARA TEOFILO
35
MATEUS DAMASCENO SODRE MENDES     WELESSON HENRIQUE NATANAEL SILVA
34
FELIPE DE MORAIS MURTA     VINICIUS MARTINHO CUNHA
33
VINICIUS MARTINHO CUNHA     LUCAS EMANUEL ANTUNES PORTO
32
FERNANDO AUGUSTO DE ALCANTARA TEOFILO     DOUGLAS VILELA DE PAIVA SILVA
30
LETICIA LIMA RIOS RIOGA     THIAGO SENIUK CARRARA
29
VICTORIA BERTOLDO ROCHA     YURI BERNARDES MARCAL
29
ANA CLARA MAGALHAES BARCELOS     ICARO GABRIEL GARCIA
27
CLEVERSON GOMES CARVALHO     YURI BERNARDES MARCAL
26
ICARO GABRIEL GARCIA     LUCAS EMANUEL ANTUNES PORTO
24
YURI BERNARDES MARCAL     WELESSON HENRIQUE NATANAEL SILVA
24
LETICIA LIMA RIOS RIOGA     YURI BERNARDES MARCAL
23
JOAO VICTOR RAMOS OLIVEIRA     VINICIUS MARTINHO CUNHA
22
PAULO VITOR DE OLIVEIRA     LETICIA LIMA RIOS RIOGA
21
ERROL MARCAL RODRIGUES JUNIOR     LIVIA MARIA BARROS CAMPOS
20
GABRIEL MORARI BORDONI     FERNANDO AUGUSTO DE ALCANTARA TEOFILO
18
JOAO RAFAEL DE SOUZA REIS     DOUGLAS VILELA DE PAIVA SILVA
17
BEATRIZ DE SOUZA PANCRACIO DE ERRICO     MURILLO ALVARO BORGES DE SOUSA
16

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:8: DeprecationWarning: in the future out of bounds indices will raise an error instead of being ignored by `numpy.delete`.

In [30]:
dupla

array([[31,  0],
       [ 3, 10],
       [28, 39],
       [ 9, 38],
       [38, 22],
       [10,  6],
       [20, 36],
       [37, 40],
       [ 1, 16],
       [ 5, 40],
       [16, 22],
       [40, 39],
       [20, 40],
       [19, 38],
       [31, 20],
       [ 7, 21],
       [13, 10],
       [18,  6],
       [ 3, 30]])